@import "base.scss";

.main {
  max-width: 100vw;
  background-color: #eee;
}
//////////////////////////////////////
// HEADER
.header {
  max-width: 80%;
  margin: 0 auto;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: 6rem;
  }

  &__nav {
    list-style: none;
    display: flex;
  }
}

.btn__link:link,
.btn__link:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12rem;
  height: 4rem;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  color: $color-white;
  background-color: $color-primary;
  border-radius: 10px;
  border: 1px solid $color-primary-dark;
  box-shadow: 0px 0px 2px rgba($color: #000000, $alpha: 0.5);
  transition: all 0.3s;
}

.btn__link:link:first-child,
.btn__link:visited:first-child {
  margin-right: 2rem;
  color: $color-primary;
  background-color: $color-white;
}

.btn__link:hover,
.btn__link:active {
  box-shadow: 1px 1px 4px rgba($color: #000000, $alpha: 0.5);
  color: $color-primary;
  background-color: $color-white;
}

.btn__link:hover:first-child,
.btn__link:active:first-child {
  color: $color-white;
  background-color: $color-primary;
}
//////////////////////////////////////
// HERO SECTION
.section-hero {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-box-img {
  flex: 0 0 50%;
  display: flex;
  justify-content: center;
  position: relative;
  &__img {
    width: 60%;
    z-index: 100;
  }
  &::after {
    content: " ";
    height: 70%;
    width: 60%;
    z-index: 10;
    position: absolute;
    border-radius: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(
      to bottom,
      $color-primary,
      $color-primary-light
    );
    opacity: 0.7;
    box-shadow: 0px 0px 3px rgba($color: #000000, $alpha: 0.5);
    transition: all 0.4s;
  }
  &:hover::after {
    opacity: 1;
    width: 70%;
    height: 80%;
  }
}

.hero-box-text {
  padding: 0rem 5rem;

  &__title {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 4rem;
    line-height: 1.2;
    letter-spacing: 1px;
  }
  &__sub {
    font-size: 2rem;
  }
  .btn__link:link {
    width: 15rem;
    margin: 3rem 0rem;
  }
}

.highlight {
  color: $color-primary-dark;
}

.store {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  color: $color-primary;

  &__icon {
    width: 3rem;
    margin-right: 1rem;
  }

  &__text {
    font-size: 1.8rem;
    margin-right: 2rem;
    opacity: 0.8;
  }
}

//////////////////////////////////////
// SUPPORT SECTION

.support {
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;

  &__img {
    width: 80%;
    opacity: 0.6;
    padding: 3rem 0rem;
    transition: all 0.4s;
    &:hover {
      opacity: 1;
    }
  }
}

//////////////////////////////////////
// ABOUT SECTION

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0rem;

  &__title {
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 2rem;
  }
  &__sub {
    font-size: 2rem;
    margin-bottom: 6rem;
  }
}
.cards {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.card {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eee;
  padding: 2rem 4rem;
  box-shadow: 0px 0px 3px rgba($color: #000000, $alpha: 0.2);
  border: 1px solid #eee;
  transition: all 0.4s;
  border-radius: 40px;

  &__icon {
    width: 3rem;
    height: 3rem;
    border: 2px solid $color-primary;
    border-radius: 50%;
    padding: 1rem;
    box-sizing: content-box;
    background-color: #eee;
    stroke: $color-primary;
    margin: 1rem 0rem 1rem 0rem;
  }

  &__title {
    font-size: 2.2rem;
    margin-bottom: 3rem;
    color: $color-primary;
  }

  &__desc {
    font-size: 2rem;
  }

  &:hover {
    background-color: $color-white;
    box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 0.2);
    border: 1px solid $color-primary-light;
  }
}

//////////////////////////////////////
// FEATURES SECTION
.section-feature {
  background-color: #ddd;
}

.feature {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-box-img {
  flex: 0 0 50%;
  display: flex;
  justify-content: center;
  position: relative;
  &__img {
    width: 60%;
    z-index: 100;
  }
  &::after {
    content: " ";
    height: 70%;
    width: 60%;
    z-index: 10;
    position: absolute;
    border-radius: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(
      to bottom,
      $color-primary,
      $color-primary-light
    );
    opacity: 0.7;
    box-shadow: 0px 0px 3px rgba($color: #000000, $alpha: 0.5);
    transition: all 0.4s;
  }
  &:hover::after {
    opacity: 1;
    width: 70%;
    height: 80%;
  }
}

.feature-box-text {
  display: flex;
  flex-direction: column;
  &__title {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 1.2;
    letter-spacing: 1px;
  }
}

.feature-cards {
  background-color: #eee;
  border-radius: 30px;
  padding: 1rem 2rem;
  box-shadow: 0px 0px 1px rgba($color: #000000, $alpha: 0.5);

  &__title {
    font-size: 2rem;
    font-weight: 700;
    color: $color-primary-dark;
  }
  &__sub {
    font-size: 2rem;
  }
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

//////////////////////////////////////
// TESTIMONI SECTION
.testimoni {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0rem;
  text-align: center;

  &__title {
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 1px;
  }
  &__sub {
    font-size: 2rem;
    margin-bottom: 3rem;
  }
}

.carousels {
  position: relative;
  font-size: 2rem;
  width: 90rem;
  height: 40rem;
  margin: 0 auto;
  overflow: hidden;
}

.carous {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40rem;
  margin: 0 auto;
  transition: transform 1s;

  padding: 2rem 2rem;
  background-color: $color-white;
  border-radius: 20px;
  box-shadow: 0px 0px 3px rgba($color: #000000, $alpha: 0.1);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__img {
    width: 12rem;
    height: 12rem;
    border-radius: 30px;
    margin-bottom: 2rem;
    box-shadow: 0px 0px 3px rgba($color: #000000, $alpha: 0.5);
  }
  &__name {
    font-weight: 700;
    color: $color-primary-dark;
    font-size: 2.2rem;
  }
  &__job {
    margin-bottom: 2rem;
    border-bottom: 1px solid $color-primary-light;
  }
  &__testi {
    font-style: italic;
  }
}

.btn__left,
.btn__right {
  width: 5rem;
  height: 5rem;
  position: absolute;
  transform: translate(0%, -50%);
  top: 50%;
  stroke: $color-primary-dark;
  cursor: pointer;
}

.btn__left {
  left: 1%;
}

.btn__right {
  right: 1%;
}

//////////////////////////////////////
// FOOTER SECTION

.footer {
  font-size: 1.4rem;
  background-color: $color-primary;
  color: $color-white;
  padding: 1rem 10rem;
  opacity: 0.7;

  &__box {
    width: 30rem;
    margin-bottom: 2rem;
    &-title {
      font-size: 3rem;
      font-weight: 700;
    }
  }
  &__copy {
    border-top: 1px solid #aaa;
    display: flex;
    justify-content: space-between;
  }
}
