/* fix */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

nav {
  position: relative;
  width: 100%;
  height: 15vh;
  display: flex;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

main {
  width: 100%;
  /* height: 120vh; */
  height: min-content;
  background-color: #f8f5f5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 35px;
}

footer {
  width: 100%;
  height: 65px;
  background-color: #7950f2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

aside {
  position: relative;
  width: 19%;
  min-height: 80vh;
  margin-left: 10%;
  background-color: white;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border: 1px solid white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-countainer {
  width: 100%;
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer p {
  font-size: 16px;
}
.nav-kanan {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.desc-acc {
  display: flex;
  flex-direction: column;
}
.list-side {
  height: 80%;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  /* margin-left: 20%; */
}
.btn-logout {
  margin-bottom: 50px;
  font-size: 18px;
  color: #3a3d42cc;
  text-decoration: none;
  padding-left: 30px !important;
}
.btn-logout a {
  padding-left: 30px;
  text-decoration: none;
}
li a {
  text-decoration: none;
  font-size: 18px;
  color: #3a3d42cc;
  padding-left: 30px;
}
li {
  margin-top: 40px;
}
ul {
  list-style: none;
  padding-left: 10%;
}

.right-footer {
  width: 23%;
  margin-right: 10%;
  display: flex;
  justify-content: space-between;
  color: white;
}
.left-footer {
  margin-left: 10%;
  color: white;
}
.logo-img {
  width: 25%;
  margin-right: 5px;
}

.nav-kiri {
  display: flex;
  align-items: center;
}
h1 {
  font-size: 35px;
  color: #7950f2;
}
i {
  font-size: 18px;
}
.fi {
  margin-right: 23px;
}

/* edit by iot */

.list-side a:hover {
  color: #5f3dc4 !important;
  border-left: 5px solid #5f3dc4;
}
.btn-logout a:hover {
  color: #5f3dc4 !important;
  border-left: 5px solid #5f3dc4;
}

.nav-kanan img {
  width: 52px;
  width: 52px;
}

section {
  width: 60%;
  height: 80vh;
  margin-right: 10%;
  background-color: white;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border: 1px solid white;
  border-radius: 25px;
}

a {
  text-decoration: none;
}

/* end fixed */

.content-container {
  margin: 20px;
}
.tag-container {
  width: 342px;
  height: 84px;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #7a7886;
  padding-bottom: 5px;
}
.tag-container h2 {
  font-weight: 700;
  font-size: 16px;
  color: #3a3d42;
  margin-bottom: 10px;
}
.input-container {
  margin-top: 50px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
.input-container input {
  outline: none;
  border-width: 0px;
  border: none;
  border-bottom: 1px solid #7a7886;
  margin-top: 30px;
  font-size: 16px;
}
.input-container button {
  width: 300px;
  height: 45px;
  margin-top: 10px;
  background: #f8f5f5;
  border-radius: 10px;
  justify-content: center;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #3a3d42cc;
  display: flex;
  padding-top: 15px;
  padding-left: 20px;
}
.input-holder input:focus {
  border-bottom: 2px solid #5f3dc4;
  /* color: #5f3dc4 !important; */
}
.input-holder {
  position: relative;
}
.input-holder input {
  /* padding: 10px 0; */
  font-size: 14px;
}
.input-holder label {
  text-align: justify;
  position: absolute;
  top: 0;
  left: 40px;
  font-size: 14px;
  transition: 0.5s;
}
.input-holder input:focus ~ label,
.input-holder input:valid ~ label {
  top: -10px;
  left: 40px;
  font-size: 12px;
  color: #5f3dc4 !important;
}
.input-container button:hover {
  cursor: pointer;
}
.input-container button:active {
  color: white;
  background-color: #5f3dc4;
  transition: 0.4s;
}
