*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
  color: #777;
}

.hidden {
  display: none !important;
}

.container {
  height: 100vh;
  display: flex;
}

.hero {
  flex: 0 0 60%;
  background: linear-gradient(0deg, #fff, #b197fc);
  padding: 4rem 6rem;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  justify-content: space-between;
  color: #5f3dc4;
}
.hero__title {
  color: #fff;
  font-weight: 700;
  position: relative;
  align-self: flex-start;
  padding: 0rem 2rem;
  transition: all 0.4s;
}
.hero__title::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  border-radius: 30px;
  background-image: linear-gradient(120deg, #5f3dc4, #fff);
  box-shadow: 0px 2px 5px black;
}
.hero__title:hover {
  color: #5f3dc4;
}
.hero__title:hover::after {
  background-image: linear-gradient(120deg, #fff, #5f3dc4);
  box-shadow: 0px 3px 7px black;
}
.hero__img {
  width: 75%;
  align-self: center;
}
.hero__sub {
  font-weight: 500;
}
.hero__desc {
  color: #5f3dc4;
  font-size: 1.6rem;
}

.main {
  flex: 1;
  padding: 4rem 6rem;
  font-size: 1.6rem;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro__title {
  text-transform: capitalize;
  margin-bottom: 2rem;
  font-weight: 500;
  font-size: 1.8rem;
}
.intro__sub {
  margin-bottom: 4rem;
}

.highlight {
  color: #5f3dc4;
}

.form {
  display: flex;
  flex-direction: column;
  opacity: 0.4;
  transition: all 0.5s;
}

.input {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding: 1rem 0rem;
  align-items: center;
}
.input:not(:last-child) {
  margin-bottom: 2rem;
}
.input__icon {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}
.input .pass_visible {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  margin-right: 0rem;
  align-self: flex-end;
}
.input__box {
  font-size: 1.6rem;
  flex: 1;
  border: none;
  outline: none;
  border-radius: 50px;
  padding: 0rem 1rem;
}

.reset__pass {
  align-self: flex-end;
  font-size: 1.4rem;
  margin-bottom: 3rem;
  cursor: pointer;
  text-decoration: underline;
}

.alert {
  visibility: hidden;
  align-self: center;
  font-size: 1.4rem;
}

.btn__login,
.btn__signup {
  margin: 1rem 0rem;
  cursor: pointer;
  border-radius: 20px;
  font-size: inherit;
  border: none;
  padding: 1.2rem 3rem;
  color: #fff;
  background-color: #7950f2;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.5s;
  font-weight: 500;
}
.btn__login:hover,
.btn__signup:hover {
  background-color: #5f3dc4;
}

.cta {
  font-size: 1.4rem;
  text-align: center;
}

.to__signup,
.to__login {
  cursor: pointer;
}

.input__pin {
  display: flex;
  padding: 1rem 0rem;
  align-items: center;
  justify-content: space-between;
}

.input__pin-box {
  color: #5f3dc4;
  font-weight: 700;
  width: 5rem;
  height: 5.5rem;
  text-align: center;
  font-size: 2rem;
  border-radius: 10px;
  outline: none;
  margin-bottom: 4rem;
}

.btn__confirm,
.btn__reset,
.btn__reset-pass {
  margin: 1rem 0rem;
  cursor: pointer;
  border-radius: 20px;
  font-size: inherit;
  border: none;
  padding: 1.2rem 3rem;
  color: #fff;
  background-color: #7950f2;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.5s;
  font-weight: 500;
}
.btn__confirm:hover,
.btn__reset:hover,
.btn__reset-pass:hover {
  background-color: #5f3dc4;
}

.icon__success {
  width: 10rem;
  margin-bottom: 5rem;
}

/*# sourceMappingURL=login.css.map */
