.main {
  width: 850px;
  height: 737px;
  background-color: white;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
}
aside{
  height: 737px;
}
.main-container {
  width: 850px;
  height: 737px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.top-main h3 {
  font-size: 18px;
}
.bcr-history-line {
  /* display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; */
  margin-bottom: 50px;
  width: 790px;
  height: 110px;
  margin-top: 25px;
}
.bcr-history-profil {
  display: flex;
  padding: 20px;
}
.bcr-history-name {
  font-size: 16px;
  margin-left: 20px;
}
.center-main{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.center-main h3{
    font-size: 18px;
}
.center-line{
    width: 790px;
    height: 92px;
    padding: 15px;
}
.center-line p{
    color: #7A7886;
    font-size: 16px;
}
.center-line h4{
    font-size: 22px;
    font-weight: 700;
    color: #514F5B;
}
.bottom-main{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}
.bottom-main a{
    border: 1px;
    background-color: #7950f2;
    padding: 16px 47px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    text-decoration: none;
}
.bottom-main a:hover{
    color: #5f3dc4;
    padding: 17px 48px;
    background-color: white;
    border:1px solid #5f3dc4;
}
.modal-open:hover{
  color: #5f3dc4;
    padding: 17px 48px;
    background-color: white;
    border:1px solid #5f3dc4;
}
a {
    text-decoration: none;
}


.card {
  width: 250px;
  border-radius: 5px;
  overflow: hidden;
  background: #fff;
  box-shadow: 3px 3px 18px -8px #263238;
  color: #424242;
  margin: 20px auto;
  padding: 20px;
display: inline-block;
}

.modal-open {
  display: inline-block;
  border-radius: 10px;
  background: #7950f2;
  padding: 16px 47px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
}

.modal-label {
  position: relative;
}

.modal-radio {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  opacity: 0;
  transform: scale(0);
  transition: opacity .25s, transform .25s;
z-index:99;
}

.modal2{
transform: scale(0.8) translate(0,-100%);
  transition: transform .35s,opacity .35s;
}

.modal3{
transform:translate(0,100%) scale(.9);
}

.modal4{
transform:scale(0) rotate(180deg);
}

#modal-open:checked + .modal {
  opacity: 1;
  transform: scale(1);
}

#modal-open2:checked + .modal2{
transform:scale(1) translate(0,0);
opacity:1;
}

#modal-open3:checked + .modal3{
transform:scale(1) translate(0,0);
opacity:1;
}

#modal-open4:checked + .modal4{
transform:scale(1) rotate(0deg);
opacity:1;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0.9;
  top: 0;
  left: 0;
}

.modal .content {
  position: absolute;
  width: 503px;
  height: 417px;
  max-height: 70%;
  top: 100px;
  left: 469px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 3px 15px -2px #222;
  padding: 20px;
}

.close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px;
  right: 20px;
  border-radius: 50%;
  border: 2px solid #f44336;
  cursor: pointer;
}

.close-btn:after,
.close-btn:before {
  content: "";
  position: absolute;
  width: 70%;
  height: 2px;
  background: #f44336;
  left: 15%;
  top: 50%;
  top: calc(50% - 1px);
  transform-origin: 50% 50%;
  transform: rotate(45deg);
}

.close-btn:before {
  transform: rotate(-45deg);
}

.action-btn{
display:inline-block;
padding: 10px 20px;
background:#4caf50;
color:#fff;
border-radius:15px;
cursor: pointer;
}

form {
  display: flex;
  justify-content: center;
}
input {
  margin: 0 0.5rem;
  padding: 0.5rem;
  border: 2px solid #A9A9A999;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 3rem;
  border-radius: 10px;
}
form:focus{
  border: 2px solid #5f3dc4;  
  color: #7950f2;
}
.special {
  margin-top: 2rem;
  font-size: 2rem;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.special i {
  font-size: 1rem;
  cursor: pointer;
}
.hidden {
  opacity: 0;
  visibility: hidden;
}

.top p{
  font-size: 16px;
  color: #3A3D4299;
  margin-top: 20px;
  width: 591px;
}
.container-pin{
  margin-top: 50px;
}
.bottom-pin{
  margin-top: 90px;
  margin-left: 270px;
}
.up{
  font-size: 16px;
  color: #1EC15F;
  font-weight: 700;
}
.down{
  font-size: 16px;
  color: #FF5B37;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-child {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  border: 1px solid #7950f2;
  margin-left: -300px;
  float: left;
  right: auto;
  z-index: 1000;
}
.dropdown-child a {
  color: white;
  padding: 20px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-child {
  display: block;
  
}
.bcr-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  margin-top: 0;
  padding-top: 30px;
}
.bcr-head h2{
  font-size: 18px;
}

.bcr-head a{
  font-size: 14px;
  text-decoration: none;
}
.bcr-history{
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
  justify-content: space-between;
  
}
.bcr-history-line{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:50px ;
}
.bcr-history-profil{
  display: flex;
}
.bcr-history-name{
  font-size: 16px;
  margin-left: 20px;
}
.this{
  font-size: 16px;
  color: #7A7886;
  margin-bottom: 45px;
}
.this-month{
  margin-top: 10px;
}