/* fix */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

nav {
  position: relative;
  width: 100%;
  height: 15vh;
  display: flex;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

main {
  width: 100%;
  /* height: 120vh; */
  height: min-content;
  background-color: #f8f5f5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 35px;
}

footer {
  width: 100%;
  height: 65px;
  background-color: #7950f2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

aside {
  position: relative;
  width: 19%;
  min-height: 80vh;
  margin-left: 10%;
  background-color: white;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border: 1px solid white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-countainer {
  width: 100%;
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer p {
  font-size: 16px;
}
.nav-kanan {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.desc-acc {
  display: flex;
  flex-direction: column;
}
.list-side {
  height: 80%;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  /* margin-left: 20%; */
}
.btn-logout {
  margin-bottom: 50px;
  font-size: 18px;
  color: #3a3d42cc;
  text-decoration: none;
  padding-left: 30px !important;
}
.btn-logout a {
  padding-left: 30px;
  text-decoration: none;
}
li a {
  text-decoration: none;
  font-size: 18px;
  color: #3a3d42cc;
  padding-left: 30px;
}
li {
  margin-top: 40px;
}
ul {
  list-style: none;
  padding-left: 10%;
}

.right-footer {
  width: 23%;
  margin-right: 10%;
  display: flex;
  justify-content: space-between;
  color: white;
}
.left-footer {
  margin-left: 10%;
  color: white;
}
.logo-img {
  width: 25%;
  margin-right: 5px;
}

.nav-kiri {
  display: flex;
  align-items: center;
}
h1 {
  font-size: 35px;
  color: #7950f2;
}
i {
  font-size: 18px;
}
.fi {
  margin-right: 23px;
}

/* edit by iot */

.list-side a:hover {
  color: #5f3dc4 !important;
  border-left: 5px solid #5f3dc4;
}
.btn-logout a:hover {
  color: #5f3dc4 !important;
  border-left: 5px solid #5f3dc4;
}

.nav-kanan img {
  width: 52px;
  width: 52px;
}

section {
  width: 60%;
  height: 80vh;
  margin-right: 10%;
  background-color: white;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border: 1px solid white;
  border-radius: 25px;
}

a {
  text-decoration: none;
}

/* end fix */

.content-container {
  margin: 20px;
}
.tag-container {
  width: 342px;
  height: 84px;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #7a7886;
  padding-bottom: 5px;
}
.tag-container h2 {
  font-weight: 700;
  font-size: 16px;
  color: #3a3d42;
  margin-bottom: 10px;
}
.personal-information-container {
  margin-top: 70px;
}
.detail-container {
  height: 65px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 8px;
}
.detail-container h3 {
  margin-left: 15px;
  font-weight: 400;
  font-size: 12px;
  color: #7a7886;
}
.detail-container p {
  margin-left: 15px;
  /* margin-top: 0px; */
  font-weight: 700;
  font-size: 16px;
  color: #514f5b;
}
.pn-detail-container {
  /* width: 300px; */
  height: 65px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
}
.pn-detail-container h3 {
  margin-left: 15px;
  font-weight: 400;
  font-size: 12px;
  color: #7a7886;
}
.pn-detail-container p {
  margin-left: 15px;
  margin-top: 0px;
  font-weight: 700;
  font-size: 16px;
  color: #514f5b;
}
.pn-detail-container a {
  margin-top: 12px;
  margin-right: 20px;
  font-weight: 400;
  font-size: 14px;
  color: #5f3dc4;
}
.pn-detail-container a img {
  width: 42px;
  height: 42px;
  position: relative;
  top: -8.97985px;
}
/* dropdown notification */
.up {
  font-size: 16px;
  color: #1ec15f;
  font-weight: 700;
}
.down {
  font-size: 16px;
  color: #ff5b37;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-child {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  border: 1px solid #7950f2;
  margin-left: -300px;
  float: left;
  right: auto;
  z-index: 1000;
}
.dropdown-child a {
  color: white;
  padding: 20px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-child {
  display: block;
}
.bcr-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  margin-top: 0;
  padding-top: 30px;
}
.bcr-head h2 {
  font-size: 18px;
}

.bcr-head a {
  font-size: 14px;
  text-decoration: none;
}
.bcr-history {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
  justify-content: space-between;
}
.bcr-history-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.bcr-history-profil {
  display: flex;
}
.bcr-history-name {
  font-size: 16px;
  margin-left: 20px;
}
.this {
  font-size: 16px;
  color: #7a7886;
  margin-bottom: 45px;
}
.this-month {
  margin-top: 10px;
}
